<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body ng-app="">
<script type="text/JavaScript" src="../bower_components/angular/angular.js"></script>
<h1>{{'hello world'}}</h1>
</body>
</html>